section {
  width: 100vw;
  height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.example {
  margin-bottom: 10px;
}

.world {
  display: grid;
  width: fit-content;
  grid-gap: 5px;
  border: 2px solid black;
}

.cell {
  width: 50px;
  height: 50px;
}

.cell.alive {
  background-color: tomato;
}

.cell.dead {
  background-color: ghostwhite;
}
